* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;   
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E948A;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.25);
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a {
    display: inline-block;
    color: #FFFF;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.intro{
    margin-top: 250px;
    background: #E5E5E5;
}
.intro h1{
position: absolute;
width: 512px;
height: 126px;
left: 202px;
top: 210px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 63px;
color: #FF4081;
}
.intro p{
position: absolute;
width: 461px;
height: 186px;
left: 202px;
top: 358px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
color: #000000;
}
.intro img{
position: absolute;
left: 52.15%;
right: 21.46%;
top: 9.38%;
bottom: 72.49%;
margin-top: 110px;
}
.bg-cursos{
    position: absolute;
    width: 100%;
    height: 1500px;
    left: 0px;
    top: 639px;
    background: #F7F7F7;
}
.retang1{
box-sizing: border-box;
position: absolute;
width: 462px;
height: 261px;
left: 212px;
top: 150px;
border: 3px solid #8E8E8E;
}
.circ1{
height: 90px;
width: 90px;
left: 398px;
border-radius: 0px;   
box-sizing: border-box;
position: absolute;
width: 90px;
height: 90px;
left: 399px;
top: 235px;
border: 1px solid #000000;
padding: 8px 20px;
border-radius: 50%;
}
.poly1{
height: 53px;
width: 56px;
left: 416px;
top: 254px;
border-radius: 0px;
color:#000000;
box-sizing: border-box;
position: absolute;
border: 1px solid #000000;
border-top: 25px solid transparent;
border-bottom: 25px solid transparent;
border-left: 60px solid #4C4B63;
border-right: 80px;

}
.aula1 h2{
position: absolute;
width: 512px;
height: 40px;
left: 750px;
top: 150px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 40px;
color: #FF4081;
}
.aula1 p{
position: absolute;
width: 501px;
height: 195px;
left: 750px;
top: 210px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
color: #000000;
}
.linha1{
position: absolute;
width: 90%;
height: 3px;
left: 98px;
top: 508px;
background: #C4C4C4;
}
.retang2{
box-sizing: border-box;
position: absolute;
width: 462px;
height: 261px;
left: 212px;
top: 600px;
border: 3px solid #8E8E8E;
}
.circ2{
box-sizing: border-box;
position: absolute;
width: 90px;
height: 90px;
left: 399px;
top: 685px;
border: 1px solid #000000;
border-radius: 50%;
}
.poly2{
box-sizing: border-box;
position: absolute;
width: 56px;
height: 53px;
left: 416px;
top: 705px;
border: 1px solid #000000;
border-top: 25px solid transparent;
border-bottom: 25px solid transparent;
border-left: 60px solid #4C4B63;
border-right: 80px;
}
.linha2{
position: absolute;
width: 90%;
height: 3px;
left: 98px;
top: 950px;
background: #C4C4C4;
}
.aula2 h2{
position: absolute;
width: 106px;
height: 40px;
left: 750px;
top: 600px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 40px;
color: #FF4081
}
.aula2 p{
position: absolute;
width: 501px;
height: 195px;
left: 750px;
top: 660px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
color: #000000;
}
.retang3{
box-sizing: border-box;
position: absolute;
width: 462px;
height: 261px;
left: 212px;
top: 1058px;
border: 3px solid #8E8E8E;
}
.circ3{
box-sizing: border-box;
position: absolute;
width: 90px;
height: 90px;
left: 399px;
top: 1150px;
border: 1px solid #000000;
border-radius: 50%;
}
.poly3{
box-sizing: border-box;
position: absolute;
width: 56px;
height: 53px;
left: 416px;
top: 1168px;
border-top: 25px solid transparent;
border-bottom: 25px solid transparent;
border-left: 60px solid #4C4B63;
border-right: 80px;
}
.aula3 h2{
position: absolute;
width: 512px;
height: 40px;
left: 750px;
top: 1058px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 40px;
color: #FF4081;
}
.aula3 p{
position: absolute;
width: 501px;
height: 195px;
left: 750px;
top: 1118px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
color: #000000;
}
footer{
    position: absolute;
    width: 100%;
    height: 207px;
    left: 0px;
    top: 2100px;
    background: #419488;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul{
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}
footer li{
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}
footer li a{
    text-decoration: none;
    color: #ffff;
}
#prof{
position: absolute;
left: 73.26%;
right: 12.36%;
top: 30.92%;
bottom: 57.97%;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
list-style: none;
text-decoration: none;
list-style-type: none;
box-sizing: border-box;
position: absolute;
left: 70.42%;
right: 9.51%;
top: 24.15%;
bottom: 51.21%;
border: 2px solid #FFFFFF;
border-radius: 62px;
padding: 12px 20px;

}
#aqui{
position: absolute;
left: 73.26%;
right: 12.36%;
top: 61.84%;
bottom: 26.57%;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
text-decoration: none;
list-style-type: none;
box-sizing: border-box;
position: absolute;
left: 70.42%;
right: 9.51%;
top: 55.07%;
bottom: 20.29%;
border: 2px solid #FFFFFF;
border-radius: 62px;
padding: 12px 20px;
}
@media only screen and (min-width: 360px) and (max-width: 768px) {
    header{
        padding: 10px 20px;
        flex-direction: column;
        height: 100% auto;
    }
    footer{
        flex-wrap: wrap;
        align-items: center;
    }
    footer img{
        margin-left: 0px;
        margin-top: -10px;
        width: 90%;
        justify-content: center;   
    }
    footer ul{
        margin-left: -55px;
    }
}